.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;

    .header{
        margin-left: 3em;
        margin-bottom: 1.5em;
        align-self: flex-start;
    }
}

